*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 0.65rem;
}

.list-container__list {
  list-style: none;
  padding: 0;
}

.list-container__item {
  display: flex;
  margin: 1rem 0;
}

.list-container__item input[type="checkbox"]:checked ~ input.js-edit-name,
.list-container__item input[type="checkbox"]:checked ~ input.js-edit-price {
  text-decoration: line-through;
  color: #666;
}
