*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities */
:root {
  --primary-color: #3b6276;
  --primary-color-lighten: #446677;
  --background-color: #fefefe;
  --background-color-secondary: #fff;
  --font-main-color: #000;
}

[data-theme="dark"] {
  --background-color: #0b1014;
  --background-color-secondary: #121a20;
  --font-main-color: #fff;
}

::selection {
  background: var(--primary-color);
  color: #fff;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--font-main-color);
  /* useful for sticking the footer to bottom of page */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: background-color 200ms ease-in;
}

input {
  color: var(--font-main-color);
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 0.9rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #686868;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #7b7b7b;
}
html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
html::-webkit-scrollbar-track:hover {
  background-color: #f0f0f0;
}

/* Styling */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Footer */
.footer {
  margin-top: auto;
  box-shadow: -2px -3px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  background-color: var(--background-color-secondary);
  transition: background-color 200ms ease-in;
}
.footer a {
  text-decoration: none;
  color: var(--primary-color-lighten);
}
.footer--space-before {
  margin: 1rem 0;
}

/* Header Hero Banner */
.header {
  background-image: url(/imgs/banner-image.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 40vh;
  max-height: 600px;
}
.header__greeting,
.header__date {
  margin-top: 1em;
  color: #fff;
}
.header__greeting {
  font-size: 2rem;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 1em;
  min-width: 15em;
}
.searchbar__input {
  background: rgba(255, 255, 255, 0.2);
  margin-left: auto;
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 0.75em;
  color: #fff;
  font-size: 1.05em;
  transition: border-color 200ms ease-in;
}
.searchbar__input:focus {
  outline: none;
  border-color: var(--primary-color);
}
.searchbar__input::placeholder {
  color: #ddd;
}
.searchbar .search-icon::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  pointer-events: none;
  font-weight: 900;
  font-size: 1.1em;
  color: #fff;
  position: absolute;
  right: 3em;
  top: 0.9em;
}

/* Dark mode toggle */
.toggle-dark-mode {
  position: relative;
  margin-left: 1em;
}
.toggle-dark-mode input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  opacity: 0;
  cursor: pointer;
}
.toggle-dark-mode input[type="checkbox"] ~ .dark-mode-icon::before {
  content: "\f186";
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 1.5em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
}
.toggle-dark-mode input[type="checkbox"]:checked ~ .dark-mode-icon::before {
  content: "\f185";
}

/* Header: Form Container for adding items */
.form-container {
  background-color: var(--background-color-secondary);
  padding: 1.5rem 1.25rem;
  margin-top: -11rem;
  border-radius: 1rem;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.12);
  transition: background-color 200ms ease-in;
}
.form-container > * + * {
  /* Lobotomized owl: select everything except first child */
  margin-top: 1em;
}
.form__item {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.form__input {
  padding: 0.75em;
  font-size: 1em;
  color: #000;
  border: solid 2px #c8c8c8;
  border-radius: 1rem;
  transition: border-color 200ms ease-in;
}
.form__input:focus {
  outline: none;
  border-color: var(--primary-color);
}

/* Box-shadows should NOT be transitioned 
* directly but with :after and opacity
* to improve performance */
.form__btn {
  position: relative;
  padding: 0.85em 1.75em;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.form__btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  opacity: 0;
  box-shadow: 2px 2px 12px 0 var(--primary-color-lighten);
  transition: opacity 200ms ease;
}
.form__btn:hover::after {
  opacity: 1;
}
.form__btn:focus::after {
  opacity: 1;
  box-shadow: 0 0 12px 2px var(--primary-color);
}
.form__btn:focus,
.form__btn:hover {
  outline: none;
  background-color: var(--primary-color-lighten);
  border-color: var(--primary-color-lighten);
}

.form__item--input-btn {
  display: flex;
}
.form__item--input-btn .form__input {
  flex-grow: 2;
  margin-right: 1em;
}

/***********************/
/* Shopping List Items */
.list-container__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.list-container__item {
  display: flex;
  padding: 0.2rem 1.25rem;
  margin: 0.3rem 0;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}
.list-container__item input {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 1rem;
  transition: border-color 200ms ease-in;
  outline: none;
  padding: 0.25em 0.5em;
}
.list-container__item input:focus {
  border-color: var(--primary-color);
}
.list-container__item input.js-edit-price {
  margin-left: auto;
  margin-right: 1rem;
  max-width: 4rem;
}
.list-container__item input.js-edit-name {
  flex-grow: 1;
}
.list-container__item input.js-edit-price,
.list-container__item input.js-edit-name {
  font-size: 1.1em;
}

.list-container__item .js-delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.list-container__item .js-delete::after {
  content: "\f2ed";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4em;
  color: var(--primary-color);
}

.list-container__item input[type="checkbox"]:checked ~ input.js-edit-name,
.list-container__item input[type="checkbox"]:checked ~ input.js-edit-price {
  text-decoration: line-through;
  opacity: 0.5;
}
.list-container__item input[type="checkbox"]:checked ~ .js-delete {
  opacity: 0.7;
}

/*************************************************/
/* Custom Checkbox Tutorial - Web Dev Simplified */
.list-container__item .checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 0.1em;
}
.list-container__item .js-check-item {
  cursor: pointer;
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
}
.list-container__item .checkbox::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  border: 0.05em solid var(--font-main-color);
  border-radius: 0.15em;
  margin-right: 0.5em;
  transition: background-color 200ms;
}
.list-container__item .checkbox:hover::before,
.list-container__item .js-check-item:hover + .checkbox::before {
  background-color: #2b627c40;
}
.list-container__item .js-check-item:checked + .checkbox::before {
  content: "\002714";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #2b627c;
}
.list-container__item .js-check-item:focus + .checkbox::before {
  box-shadow: 0 0 2px 1px var(--primary-color-lighten);
}

/**************/
/* Animations */
.js-delete-animation {
  animation: 500ms forwards fadeout-animation;
}
@keyframes fadeout-animation {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(80%);
    opacity: 0;
  }
}
